<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.product.mapper.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.amusing.start.product.entity.pojo.ProductInfo">
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="stock" jdbcType="DECIMAL" property="stock"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        shop_id
        , id, name, stock, `status`, is_del,
        `describe`, create_by, create_time, update_by, update_time
    </sql>

    <insert id="insert" parameterType="com.amusing.start.product.entity.pojo.ProductInfo">
        insert into product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="describe != null">
                `describe`,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.amusing.start.product.entity.pojo.ProductInfo">
        update product_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="describe != null">
                `describe` = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="batchDeductionStock">
        <foreach collection="inputList" separator=";" item="item" index="index">
            update product_info set stock = stock - #{item.productNum} where id =
            #{item.productId} and stock > 0 and status = 1 and is_del = 1
        </foreach>
    </update>

    <select id="selectByName" resultType="com.amusing.start.product.entity.pojo.ProductInfo">
        select
        <include refid="Base_Column_List"/>
        from product_info
        where shop_id = #{shopId}
        and name = #{name}
        and status = 1
        and is_del = 1
    </select>

    <update id="updateStatusByShopId">
        update product_info
        set status = #{status}
        where shop_id = #{shopId}
          and status = 1
          and is_del = 1
    </update>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_info
        WHERE id = #{productId} AND status = 1 AND is_del = 1 ORDER BY create_time desc;
    </select>

</mapper>