<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.product.mapper.ProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.amusing.start.product.pojo.ProductInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="init_price" jdbcType="DECIMAL" property="initPrice"/>
        <result column="product_stock" jdbcType="DECIMAL" property="productStock"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, shop_id, product_id, product_name, init_price, product_stock, `status`, is_del,
        `describe`, create_by, create_time, update_by, update_time
    </sql>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.amusing.start.product.pojo.ProductInfo" useGeneratedKeys="true">
        insert into product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="initPrice != null">
                init_price,
            </if>
            <if test="productStock != null">
                product_stock,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="describe != null">
                `describe`,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="initPrice != null">
                #{initPrice,jdbcType=DECIMAL},
            </if>
            <if test="productStock != null">
                #{productStock,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.amusing.start.product.pojo.ProductInfo">
        update product_info
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="initPrice != null">
                init_price = #{initPrice,jdbcType=DECIMAL},
            </if>
            <if test="productStock != null">
                product_stock = #{productStock,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BIT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="describe != null">
                `describe` = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByShopAndProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_info where shop_id = #{shopId} and product_id = #{productId} and status = 1 and is_del = 1
    </select>

    <update id="batchDeductionStock">
        <foreach collection="inputList" separator=";" item="item">
            update product_info set product_stock = product_stock - #{item.productNum} where product_id =
            #{item.productId} and product_stock >= 0
        </foreach>
    </update>

</mapper>