<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.user.mapper.UserPhoneEncryptMapper">
  <resultMap id="BaseResultMap" type="com.amusing.start.user.entity.pojo.UserPhoneEncrypt">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="phone_key" jdbcType="VARCHAR" property="phoneKey"/>
  </resultMap>

  <sql id="Base_Column_List">
    id
    , user_id, phone_key
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id"
    parameterType="com.amusing.start.user.entity.pojo.UserPhoneEncrypt" useGeneratedKeys="true">
    insert into user_phone_encrypt (user_id, phone_key)
      value (#{userId}, #{phoneKey})
  </insert>

  <update id="update" parameterType="com.amusing.start.user.entity.pojo.UserRoleInfo">
    update user_phone_encrypt
    set phone_key = #{phoneKey}
    where user_id = #{userId} limit 1
  </update>
  
  <select id="getByPhoneEncrypt" resultType="java.lang.String">
    select user_id
    from user_phone_encrypt
    where phone_key like concat('%', #{phoneEncrypt}, '%')
  </select>

</mapper>