<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.user.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.amusing.start.user.entity.pojo.UserInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="secret" jdbcType="VARCHAR" property="secret"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sources" jdbcType="TINYINT" property="sources"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, `password`, secret, phone, sources, `status`, is_del, create_by, create_time, update_by, update_time
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        select id, `name`, phone, sources, `status` from user_info where 1 = 1
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name},'%')
        </if>
        <if test="userIdList != null and userIdList.size != 0">
            and id in
            <foreach collection="userIdList" item="userId" index="index" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        and is_del = 1
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info where name = #{name}
        and is_del = 1 limit 1
    </select>

    <select id="nameExist" resultType="java.lang.Integer">
        select count(1)
        from user_info
        where name = #{name}
          and is_del = 1 limit 1
    </select>

    <select id="phoneExist" resultType="java.lang.Integer">
        select count(1)
        from user_info
        where phone = #{phone}
          and is_del = 1 limit 1
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info where id = #{userId}
        <if test="status != null">
            and status = #{status}
        </if>
        and is_del = 1
    </select>

    <insert id="insert" parameterType="com.amusing.start.user.entity.pojo.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="secret != null">
                secret,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sources != null">
                sources,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="secret != null">
                #{secret,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sources != null">
                #{sources,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.amusing.start.user.entity.pojo.UserInfo">
        update user_info
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="secret != null">
                secret = #{secret,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sources != null">
                sources = #{sources,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>