<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.order.mapper.OrderProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.amusing.start.order.entity.pojo.OrderProductInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="price_id" jdbcType="VARCHAR" property="priceId"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_no, shop_id, product_id, product_name, price_id, price, num, amount
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.amusing.start.order.entity.pojo.OrderProductInfo" useGeneratedKeys="true">
        insert into order_product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="priceId != null">
                price_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="priceId != null">
                #{priceId,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    
    <select id="getByNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_product_info where order_no = #{orderNo}
    </select>

</mapper>