<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.order.mapper.OrderProductInfoMapper">
    <resultMap id="BaseResultMap" type="com.amusing.start.order.pojo.OrderProductInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="shops_id" jdbcType="VARCHAR" property="shopsId"/>
        <result column="shops_name" jdbcType="VARCHAR" property="shopsName"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="price_id" jdbcType="VARCHAR" property="priceId"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="product_num" jdbcType="INTEGER" property="productNum"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_no, shops_id, shops_name, product_id, product_name, price_id, product_price, product_num, amount
    </sql>

    <select id="selectOrderNoAndShopsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_product_info where order_no = #{orderNo} and shops_id = #{shopsId}
    </select>

    <insert id="insertSelective" keyProperty="id" keyColumn="id"
            parameterType="com.amusing.start.order.pojo.OrderProductInfo" useGeneratedKeys="true">
        insert into order_product_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="shopsId != null">
                shops_id,
            </if>
            <if test="shopsName != null">
                shops_name,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="priceId != null">
                price_id,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="productNum != null">
                product_num,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="shopsId != null">
                #{shopsId,jdbcType=VARCHAR},
            </if>
            <if test="shopsName != null">
                #{shopsName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="priceId != null">
                #{priceId,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productNum != null">
                #{productNum,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.amusing.start.order.pojo.OrderProductInfo">
        update order_product_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="shopsId != null">
                shops_id = #{shopsId,jdbcType=VARCHAR},
            </if>
            <if test="shopsName != null">
                shops_name = #{shopsName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="priceId != null">
                price_id = #{priceId,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productNum != null">
                product_num = #{productNum,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="batchInsertSelective">
        insert into order_product_info (order_no, shops_id, product_id, product_name, price_id, product_price,
        product_num, amount) VALUES
        <foreach collection="productInfoList" item="item" separator=",">
            (#{item.orderNo}, #{item.shopsId}, #{item.productId}, #{item.productName}, #{item.priceId},
            #{item.productPrice}, #{item.productNum}, #{item.amount})
        </foreach>
    </insert>

</mapper>