<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amusing.start.order.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.amusing.start.order.pojo.OrderInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="reserve_id" jdbcType="VARCHAR" property="reserveId" />
    <result column="consignee_id" jdbcType="VARCHAR" property="consigneeId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
    <result column="activity_amount" jdbcType="DECIMAL" property="activityAmount" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="is_freight" jdbcType="BIT" property="isFreight" />
    <result column="is_evaluate" jdbcType="BIT" property="isEvaluate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, order_no, reserve_id, consignee_id, total_amount, freight_amount, coupon_amount,
    activity_amount, `status`, is_freight, is_evaluate, create_by, update_by, create_time, 
    update_time
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.amusing.start.order.pojo.OrderInfo" useGeneratedKeys="true">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="reserveId != null">
        reserve_id,
      </if>
      <if test="consigneeId != null">
        consignee_id,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="freightAmount != null">
        freight_amount,
      </if>
      <if test="couponAmount != null">
        coupon_amount,
      </if>
      <if test="activityAmount != null">
        activity_amount,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="isFreight != null">
        is_freight,
      </if>
      <if test="isEvaluate != null">
        is_evaluate,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="reserveId != null">
        #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        #{consigneeId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="freightAmount != null">
        #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null">
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="activityAmount != null">
        #{activityAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="isFreight != null">
        #{isFreight,jdbcType=BIT},
      </if>
      <if test="isEvaluate != null">
        #{isEvaluate,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.amusing.start.order.pojo.OrderInfo">
    update order_info
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="reserveId != null">
        reserve_id = #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        consignee_id = #{consigneeId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="freightAmount != null">
        freight_amount = #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null">
        coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="activityAmount != null">
        activity_amount = #{activityAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="isFreight != null">
        is_freight = #{isFreight,jdbcType=BIT},
      </if>
      <if test="isEvaluate != null">
        is_evaluate = #{isEvaluate,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>